@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F0F5FB;
}

.dot{
    display:flex;
    width: 8px;
    height: 8px;
    margin-right: 1em;
    border-radius:5px;
    background: #46CB72;
}

.counter{
    position: absolute;
    top: 0;
    right: 1em;
    height: 28px;
    width: 28px;
    background: white;
    color: rgb(254, 86, 38);
    font-size: .83333em;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;
    text-indent: 0;
    border: 1px solid rgb(254, 86, 38);
}
